<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>
<style>
img {
    max-width:450px;
    height:auto;
}
.box:hover{
background: #DCDCDC;
}
.spacer {
	padding-left: 40px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
</style>
<div class="row">
    <div class="col-md-2 col-centered text-center"><h2>Similar Images</h2></div>
</div>
<body ng-app='findImageDupsApp'>
	<div ng-controller="SearchController" >
		<div ng-repeat="image in images">
		<table>
			<tr class="row">
				<td ng-repeat="similar in image" class="spacer">
					<div class="box">
						<button type="button" class="btn btn-link pull-right" ng-click="delete($parent.$index, $index)">Delete</button>
						<br>
						<img onerror="this.parentNode.style.display = 'none'" ng-src="{{similar}}"/>
					</div>
				</td>
			</tr>
		</table>
		<p>
		</div>
		<div class="row" ng-show="images.length == 0">
		    <div class="col-md-2 col-centered text-center">No similar images were found.</div>
		</div>
	<div>

	<script>
	var app = angular.module("findImageDupsApp", []);

	app.controller("SearchController", ["similarSrv", "$scope", function(similarSrv, $scope) {
	        $scope.images = [["/home/carlo/Downloads/Camera/IMG_20150412_152331529.jpg","/home/carlo/Downloads/Camera/IMG_20150412_152329908.jpg"],["/home/carlo/Downloads/Camera/IMG_20150512_200430068.jpg","/home/carlo/Downloads/Camera/IMG_20150512_200427794.jpg"]];
			
			$scope.delete = function(parentIndex, index) {
				var imgUrl = $scope.images[parentIndex][index];
				var deleteImage = confirm('Are you sure to delete the image: ' + imgUrl + ' ?');

			    if (deleteImage) {
					similarSrv.getInformation(imgUrl).
					    success(function (data) {
							if (data.Status) {
								$scope.images[parentIndex].splice(index, 1);
							} else {
								alert(data.Message);
							}
					    }).
					    error(function (data) {
							alert("unexpected error found: " + data);
					    });
				}
			}
	}] );

	app.factory('similarSrv', function ($http) {
	    return {
	        getInformation: function (folderPathParam) {
	            var url = 'http://localhost:8787/delete';
	            return $http.jsonp(url, {
	                params: {
	                    callback: 'JSON_CALLBACK',
	                    folderPath: folderPathParam
	                }
	            });
	        }
		}
    } );
	</script>

</body>
</html>
